

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif ;
    font-family: 'News Cycle', sans-serif ;
}

header{    
    background-color: blue;
    height: 36px; 
}

nav{
    background-color: coral;
    z-index: 2;
    position: fixed;
    top: 0;
    height: 36px;
    width: 100%;    
    min-width: 600px;
}

nav > div{
    width: 33.33%;
    float: left;
    padding: 2px;
}

.nav-left{ 
    height: 100%;
    background-color: aqua;
}

.nav-left > h4{
    display: inline-block;
}

.nav-left i {
    text-align: center;
    font-size: 20px;
    margin: 5px;
}

.nav-center{        
    min-width: 190px;    
    margin: 5px auto;
}

.nav-center svg {
    max-height: 25.64px; 
    width: 100%; 
}

.nav-right{ 
    height: 100%;
    background-color: bisque;
}

.nav-button{
    float: right;
    margin: 5px;
}

main{
    background-color: red; 
    min-height: 60vh;        
}

#article-header{
    overflow: hidden;
    padding: 2px;
    width: 80%;
    min-width: 532px;
    margin: 0 auto;
  
}

#article-header img{
    width: 100%;
    
}

#article-header h1{
    padding-top: 40px; 
    padding-bottom: 20px; 
    font-size: 30px;
    width: 40%;
    margin-left: 20%;
    font-style: italic;
}

#article-header p{
    display: inline-block;
    width: 80%;
    font-size: 15px;
    margin-top: 8px; 
}
/*<Content>*/
#content-container{
    margin-left: 39.5px;
    margin-right: 39.5px;
    margin-bottom: 16px;
    
}
#content-container #content, 
#content-container aside{
    margin-top: 50px;
    position: relative;
    float:left;
    top:0;
}

#content-container::after{
    content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#content{    
    margin-left: 172.5px;
    width: 50%;
}
#content h1{    
    margin-bottom: 20px;
}
#content h4{
    margin-top:10px;
    display: inline-block;    
}
#content img{
     max-height: 30px ;
     float: right;     
}
#content-text{
    margin-top: 40px;
}

aside{
    width: 10%;
    margin-left: 42.5px;
}

.iframe-container{
    width: 100%;
    height: 750px;
    overflow:hidden;
}

.iframe-theory{
    width: 100%;
    height: 100%;
}

#img-article-container{
    width: 100%;
    height: 500px;
}

#img-article-container img{
    width: 100%;
    max-height: 600px;
}

h6{
    font-size: 8px;
}

.article-footer{
    width: 100%;
}

.article-footer button{
    float: left;
}

.article-footer img{
    float: right;
}

/*</Content>*/


footer{
    background-color: green;
    height: 56px;
    clear: both;
}